<div class="row fatfinger" id="{{ info.AnomalyID }}">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8" style="border:2px solid black; border-radius:25px;">
        <h1>{{ info.error }} Fat Finger Error: {{ info.stock.symbol }}, Date: {{ info.stock.time | date:'MMM/dd' }}
            <a id="dropdown{{ info.AnomalyID }}" href="#" ng-click="drop({id: info.AnomalyID})"><span class="glyphicon glyphicon-menu-down"></span></a> </h1>
        <div class="dropdownwrap{{ info.AnomalyID }}" style="display:none; height:auto; padding:10px; margin: 5px; border-top:2px solid black;">
            <h2>Transaction</h2>
            <ul>
                <li>Buyer: {{ info.stock.buyer }}</li>
                <li>Seller: {{ info.stock.seller }}</li>
                <li>Price: {{ info.stock.price | currency:"":2 }}</li>
                <li>Currency: {{ info.stock.currency }}</li>
                <li>Volume: {{ info.stock.size }}</li>
                <li>Expected {{ info.error }}: {{ info.rma }}
                <li>Time: {{ info.stock.time | date:'HH:mm:ss' }}</li>
                <li>Date: {{ info.stock.time | date: 'MMM/dd' }}</li>
            </ul>
            <div class="buttons" style="margin-bottom:20px;">
                <button type="button" class="btn btn-success btn-lg custom-button">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-danger btn-lg custom-button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-2">

    </div>

</div>