<div class="row fatfinger">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8" style="border:2px solid black; border-radius:25px;">
        <h1>Fat finger Error: {{Symbol}}</h1>
        <div style="padding:10px; margin: 5px; border-top:2px solid black;">
            <h2>Transaction</h2>
            <ul>
                <li>Buyer: {{buyer}}</li>
                <li>Price: {{price}}</li>
                <li>Currency: {{currency}}</li>
                <li>Time: {{time}}</li>
                <li>Date: {{date}}</li>
            </ul>
            <div class="buttons" style="margin-bottom:20px;">
                <button type="button" class="btn btn-success btn-lg custom-button">
                          <span class="glyphicon glyphicon-ok"></span>
                          </button>
                <button type="button" class="btn btn-danger btn-lg custom-button">
                          <span class="glyphicon glyphicon-remove"></span>
                          </button>
            </div>
        </div>
    </div>
    <div class="col-sm-2">

    </div>

</div>