<div class="row vol-spike" ng-attr-id="{{ info.AnomalyID }}">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8" style="border:2px solid black; border-radius:25px;">
        <h1>Volume Spike: {{ info.symbol }}, Date: {{ info.timeBegin | date:'MMM/dd' }} <a ng-attr-id="{{ 'dropdownwrap' + info.AnomalyID }}" href="#"><span class="glyphicon glyphicon-menu-down"></span></a></h1>
        <div class="{{ 'dropdownwrap' + $info.AnomalyID }}" style="display:none; height:auto; padding:10px; margin: 5px; border-top:2px solid black;">
            <h2>Perpetrator(s):{{seller}} </h2>
            <ul>
                <li>Time: {{ info.time_begin | date:'HH:MM:ss' }}</li>
                <li>Sector: {{ sector }}</li>
                <li>Suspected technique(s): {{ techniques }}</li>
            </ul>
            <button type="button" name="drillDown" class="btn btn-warning btn-lg"> Drill Down</button>
            <div class="buttons">
                <button type="button" name="true" class="btn btn-success btn-lg custom-button">
                                  <span class="glyphicon glyphicon-ok"></span>
                         </button>
                <button type="button" name="false" class="btn btn-danger btn-lg custom-button">
                                  <span class="glyphicon glyphicon-remove"></span>
                          </button>
            </div>
        </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>