<div class="row vol-spike" id="{{ info.AnomalyID }}">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10" style="border:2px solid black; border-radius:25px;">
        <h1><strong>Volume Spike</strong>, Symbol: {{ info.symbol }}, Date: {{ info.timeBegin | date:'shortDate':'UTC' }}<a class="fa-arrow-down" onclick="if ( $(this).hasClass('fa-arrow-down') ) {$(this).removeClass('fa-arrow-down');$(this).addClass('fa-arrow-down-open');} else {$(this).removeClass('fa-arrow-down-open');$(this).addClass('fa-arrow-down');}" id="dropdown{{ info.AnomalyID }}" ng-attr-id="dropdownwrap{{ info.AnomalyID }}"
                href="#" style="float: right" ng-click="drop({id: info.AnomalyID})"><span class="glyphicon glyphicon-menu-down"></span></a></h1>
        <div class="dropdownwrap{{ info.AnomalyID }}" style="display:none; height:auto; padding:10px; margin: 5px; border-top:2px solid black;">
            <ul>
                <li>Time: {{ info.timeBegin | date:'shortDate':'UTC' }}</li>
                <li>Severity: {{ info.severity - 100 }}%</li>
            </ul>
            <div class="drilldownwrap{{ info.AnomalyID }}" style="display:none;">
                <!-- graph div -->
                <p>The graph below shows trade volumes in periods around the detected Volume Spike.
                    Each point represents the summed volume of trades in a {{ info.periodLen | date:'HH:mm:ss' }} time span, starting at the displayed time for each point.
                    The sudden peak in the graph is the Volume Spike detected, which is a suddent increase in trade volume in a time span.</p>
                <div id="volumespike{{ info.AnomalyID }}" style="height:400px; width:600px;"></div>
            </div>
                <button id="drilldown{{ info.AnomalyID }}" type="button" name="drillDown" class="btn btn-warning btn-lg" ng-click="drill({id: info.AnomalyID}); plot({info: info})">Drill Down</button>
                <div class="buttons">
                    <button onclick="if (currentPage == 'live') {deleteLiveAnomaly($(this).closest('.row').attr('id'));} else if (currentPage == 'historical') {deleteHistoricalAnomaly($(this).closest('.row').attr('id'));}" type="button" name="true" class="btn btn-success btn-lg custom-button">
                                  <span class="glyphicon glyphicon-ok"></span>
                         </button>
                    <button onclick="if (currentPage == 'live') {deleteLiveAnomaly($(this).closest('.row').attr('id'));} else if (currentPage == 'historical') {deleteHistoricalAnomaly($(this).closest('.row').attr('id'));}" type="button" name="false" class="btn btn-danger btn-lg custom-button">
                                  <span class="glyphicon glyphicon-remove"></span>
                          </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">

        </div>
    </div>
