<div class="row vol-spike">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8" style="border:2px solid black; border-radius:25px;">
        <h1>Volume Spike: {{ info.stock.symbol }}</h1>
        <div style="padding:10px; margin: 5px; border-top:2px solid black;">
            <h2>Perpetrator(s):{{seller}} </h2>
            <ul>
                <li>Time: {{ info.stock.time | date:'HH:mm:ss' }}</li>
                <li>Date: {{ info.stock.time | date:'MMM dd' }}</li>
                <li>Sector: {{ info.stock.sector }}</li>
                <li>Suspected technique(s): {{ info.stock.techniques }}</li>
            </ul>
            <button type="button" name="drillDown" class="btn btn-warning btn-lg"> Drill Down</button>
            <div class="buttons">
                <button type="button" name="true" class="btn btn-success btn-lg custom-button">
                                  <span class="glyphicon glyphicon-ok"></span>
                         </button>
                <button type="button" name="false" class="btn btn-danger btn-lg custom-button">
                                  <span class="glyphicon glyphicon-remove"></span>
                          </button>
            </div>


        </div>
    </div>
    <div class="col-sm-2">

    </div>

</div>