body {

}


.navbar {
    background-color: #08469c;
    margin-bottom: 0;
    border: 0;
    font-size: 14px !important;
    border-radius: 0;
    font-family: 'Inconsolata', sans-serif;
    color: white;
}


.navbar-nav li a:hover, .navbar-nav li.active a {

    background-color: white !important;

}

.navbar-custom {
  color:white;
}

.fatfinger, .pumpdump, .vol-spike {
  margin-bottom: 10px;
}

.custom-button {
  float:right; margin:5px;
}
